/* https://coolors.co/355834-cc5f00-16324f-901c14-b1dcfc */

.bg-black{
    background-color: #232629 !important;
}
.nav-logo{
    max-width:100%;
    height: 50px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255, .75);
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: white;
}

body{
    color: #232629 !important;
    min-height: 100vh;
}
p{
    font-size:24px;
}

.color-blood{
    color: #901c14;
}

.color-orange{
    color: #FF7F11;
}
a.color-orange:hover{
    color: #CC5F00;
}

.cta {
    color: #fff;
    background-color: #FF7F11;
    border-color: #FF7F11;
    padding: 1em !important;
    /* border-radius: 0.6em !important; */
    font-size: 24px !important;
}

.cta:hover {
    color: #fff;
    background-color: #CC5F00;
    border-color: #CC5F00;
}


.btn-primary {
    color: #fff;
    background-color: #FF7F11;
    border-color: #FF7F11;
    /*border-radius: 0.6em !important;*/
}

.btn-primary:hover {
    color: #fff;
    background-color: #CC5F00;
    border-color: #CC5F00;
}

/*
.input-group input {
    border-radius: 0 0.6em 0.6em 0 !important;
}
.input-group-prepend span {
    border-radius: 0.6em;
}
.form-control{
    border-radius: 0.6em !important;
}
.alert {
    border-radius: 0.6em;
}
*/

.invalid-field{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #901c14;
}

body .form-control.is-invalid, .was-validated .form-control:invalid{
    border-color: #901c14;
}

span.input-group-text.is-invalid {
    border-color: #901c14;
}

.login-form a{
    color:#16324F
}

span.input-group-text {
    background-color: white;
}
.login-form input {
    border-left: none;
}


.alert-danger {
    background-color: #901c14;
    border-color: #901c14;
    color: white;
}

.btn-success {
    color: #fff;
    background-color: #355834;
    border-color: #355834;
}

.btn-danger {
    color: #fff;
    background-color: #901c14;
    border-color: #901c14;
}