/* https://coolors.co/355834-cc5f00-16324f-901c14-b1dcfc */
body{
    color: #232629 !important;
}
p{
    font-size:24px;
}

.color-orange{
    color: #FF7F11;
}
a.color-orange:hover{
    color: #CC5F00;
}

.cta {
    color: #fff;
    background-color: #FF7F11;
    border-color: #FF7F11;
    padding: 1em !important;
    border-radius: 0.6em !important;
    font-size: 24px !important;
}

.cta:hover {
    color: #fff;
    background-color: #CC5F00;
    border-color: #CC5F00;
}


.btn-primary {
    color: #fff;
    background-color: #FF7F11;
    border-color: #FF7F11;
    border-radius: 0.6em !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #CC5F00;
    border-color: #CC5F00;
}

.input-group input {
    border-radius: 0 0.6em 0.6em 0 !important;
}

.input-group-prepend span {
    border-radius: 0.6em;
}

.form-control{
    border-radius: 0.6em !important;
}

.invalid-field{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #901c14;
}

body .form-control.is-invalid, .was-validated .form-control:invalid{
    border-color: #901c14;
}